[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
gitpython = "*"
sklearn = "*"
seaborn = "*"
theano = "*"
requests = "*"
"pymc3" = "*"

[dev-packages]

[requires]
python_version = "3.6"
